<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"style="color:white;"> single-product</a>
      <button routerLink="/Catalog" class="btn btn-warning text-light">BACK</button>
    </div>
</nav>


<!-- single product -->
<div class="container">
   <div class="row product-detail" >
         <div class="col-sm-3">
              <img class="product-img" src="{{productdata?.images[0]}}">

              <div class="navigatebutton">
                <button class="btn btn-primary ">Buy Now</button>&nbsp;
                <button (click)="addtocard(productdata)" *ngIf="showadd" class="btn btn-success">Add to Cart</button>
                <button (click)="deletecart(productdata)" *ngIf="showremove" class="btn btn-info">Delete Cart</button>
              </div>
         </div>
   

<!-- right side -->
<div class="col-sm-8">
    <div>
       <h1>{{productdata?.title}}</h1> 
       <p style="color:green ;">special price</p>
       <h3>Price:{{productdata?.price}}</h3>
       <strong>Category:&nbsp;{{productdata?.category}}</strong><br>
       <strong>Description:{{productdata?.description}}</strong><br>
       
       <p style="color: green;">DISCOUNT:{{productdata?.discountPercentage}}</p><br>
       <strong>Stocks:{{productdata?.stock}}</strong>
       <button routerLink="/Catalog" class="btn btn-warning text-light mt-2 ">BACK</button>
    </div>
</div>


</div>
</div>