<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"style="color:white;"> single-product</a>
      <button routerLink="/Catalog" class="btn btn-warning text-light">BACK</button>
    </div>
</nav>


<!-- single product -->
<div class="container">
   <div class="row product-detail" >
         <div class="col-sm-3">
              <img class="product-img" src="https://rukminim2.flixcart.com/image/416/416/kgtqhe80/pendrive/type-a-to-type-c/k/w/p/sandisk-sdddc4-1t00-i35-original-imafwygkzn5bfu7n.jpeg?q=70&crop=false">

              <div>
                <button class="btn btn-primary">Buy Now</button>&nbsp;
                <button class="btn btn-success">Add to Cart</button>
              </div>
         </div>
   

<!-- right side -->
<div class="col-sm-8">
    <div>
       <h1>HP 8 gb pendrive</h1> 
       <p style="color:green ;">special price</p>
       <h3>Price:$30</h3>
       <strong>Category:&nbsp;Electronics</strong><br>
       <strong>Description:</strong><br>
       <p>You can effortlessly transfer photos, videos, and files between your USB Type-C smartphone, tablet, or Mac and USB Type-A PC via the SanDisk Ultra Dual Drive Luxe flash drive.</p>
       <p style="color: green;">DISCOUNT:12 %</p><br>
       <strong>Stocks:10 Units left</strong>
    </div>
</div>


</div>
</div>