main{
    background-color:#012426;
    width: 100%;
    
}


section.updateproductlist{
    background-image: url(https://static.wixstatic.com/media/c837a6_837f9cd4f59146c3ad47a2bd882fedfd~mv2.png/v1/fill/w_1875,h_706,al_r,q_90,usm_0.66_1.00_0.01,enc_auto/c837a6_837f9cd4f59146c3ad47a2bd882fedfd~mv2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    
    
    
}

 

section.updateproductlist h1{
    color: white;
    font-weight: 200;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 100px;
    margin-left: 100px;
    color: rgb(41, 97, 97);
    

}
section.updateproductlist div h1 span{
    color: #05BCCA;
}
section.updateproductlist div button{
    width: 40px;
    height: min-content;
    border-radius: 40px;
    margin: 10px 0px 0px 10px;
    background-color: #C46A2B;

}

main section.popularproducts{
    background-color: #1A1A1A;
    height: 716px;
    padding-top: 40px;
}
main section.popularproducts h2{
    display: flex;
    color:#05BCCA;
    font-weight: 300;
    justify-content: center;
    font-size: 30px;

}
main section.popularproducts hr{
    color: #05BCCA;
    width: 300px;
    margin-left: 600px;
}
 
main section.popularproducts div#toplist{
  
   width: 860px;
   
  border: 1px solid #05BCCA;
   margin-left: 320px;
   margin-top: 40px;
   padding-bottom: 20px;
   display: flex;
}

.card img{
    width: 250px;
    height: 200px;
    margin-bottom:30px ;
    object-fit: contain;
    
}
.card{
    width: 190px;
}

/* body{
    margin: 0;
    font-weight: 200;
    line-height: 1.5385;
    color: #05BCCA;
    text-align: left;

} */

.card-img-actions{
    position: relative;
}

.text-default{
    text-decoration: none;
    color: #05BCCA;
    font-size: 15px;
}


div#toplist div.card-body{
   height: 220px; 

}

div.row:hover{
  background-color:rgb(180, 49, 49);
  

}

