<main>
   
     <section class="updateproductlist">
        
        <h1>MOBILE SHOP</h1>
        
     </section>

     <section class="popularproducts">
          <h2>Most Popular</h2>
          <hr>
          
          
        <div id="toplist">
           <div class="container-fluid" >
             <div class="row">
                <div class="col-md-2 mt-3">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="card-img-actions">
                                <img src="https://assets.ee.ge/product_images/YTnhhW6e09-1.jpg" class="card-image img-fluid" alt="">
                            </div>
                        </div> 



                        <div class="card-body bg-light text-center ">
                            <div>
                                <h6>
                                    <a class="text-default" href="">Apple iPhone 15 128GB Black </a>
                                    
                                </h6>
                            </div>
                             <h3 class="mb-0 font-weight-semibold">$2649.99</h3>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                              <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                        </div>
                    </div>
                </div>
             </div>


          </div>



          <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://assets.ee.ge/product_images/yzQDOuOnhv-1.jpg" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center ">
                           <div>
                               <h6>
                                   <a class="text-default" href=""> Samsung Galaxy S24 Ultra 12GB/512GB Titanium Black</a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$3999.99</h3>
                            <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                       </div>
                   </div>
               </div>
            </div>


         </div>


         <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://assets.ee.ge/elit-product-images/IMG-000057609-1.jpg" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center ">
                           <div>
                               <h6>
                                   <a class="text-default" href=""> Apple iPhone 15 Pro Max 256GB Natural Titanium</a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$4249.99</h3>
                            <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                       </div>
                   </div>
               </div>
            </div>


         </div>

         <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://assets.ee.ge/elit-product-images/IMG-000032163-1.jpg" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center ">
                           <div>
                               <h6>
                                   <a class="text-default" href="">Apple iPhone 13 128GB Green </a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$1899.99</h3>
                            <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                       </div>
                   </div>
               </div>
            </div>


         </div>


        </div>

        </section>
    
    </main>
    <app-footer></app-footer>

    