
<main>
   
     <section class="updateproductlist">
        
        <h1>MOBILE SHOP</h1>
        <hr>
        
     </section>

     <section class="popularproducts">
          <h2>Most Popular</h2>
          <hr>
          
          
        <div id="toplist">
           <div class="container-fluid" >
             <div class="row">
                <div class="col-md-2 mt-3">
                    <div class="card mt-2 main-body">
                        <div class="card-body">
                            <div class="card-img-actions">
                                <img src="https://assets.ee.ge/product_images/YTnhhW6e09-1.jpg" class="card-image img-fluid" alt="">
                            </div>
                        </div> 



                        <div class="card-body bg-light text-center main-body">
                            <div>
                                <h6>
                                    <a class="text-default" href="">Apple iPhone 15 128GB Black </a>
                                    
                                </h6>
                            </div>
                             <h3 class="mb-0 font-weight-semibold">$2649.99</h3>
                            
                        </div>
                    </div>
                </div>
             </div>


          </div>



          <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2 main-body">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://assets.ee.ge/product_images/yzQDOuOnhv-1.jpg" class="card-image img-fluid" alt="">
                           </div>
                       </div> 
                       <div class="card-body bg-light text-center main-body">
                        <div>
                            <h6>
                                <a class="text-default" href="">Apple iPhone 15 128GB Black </a>
                                
                            </h6>
                        </div>
                         <h3 class="mb-0 font-weight-semibold">$2649.99</h3>
                        
                    </div>

                      
                   </div>
               </div>
            </div>


         </div>


         <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2 main-body">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://assets.ee.ge/elit-product-images/IMG-000057609-1.jpg" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center main-body">
                           <div>
                               <h6>
                                   <a class="text-default" href=""> Apple iPhone 15 Pro Max 256GB Natural Titanium</a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$4249.99</h3>
                          
                   </div>
               </div>
            </div>


         </div>

         
                   
               
            </div>


         </div>

         <section class="secondcardblock">
            <div class="container-fluid" >
                <div class="row">
                   <div class="col-md-2 mt-3">
                       <div class="card mt-2 main-body">
                           <div class="card-body">
                               <div class="card-img-actions">
                                   <img src="https://assets.ee.ge/product_images/YTnhhW6e09-1.jpg" class="card-image img-fluid" alt="">
                               </div>
                           </div> 
    
    
    
                           <div class="card-body bg-light text-center main-body">
                               <div>
                                   <h6>
                                       <a class="text-default" href="">Apple iPhone 15 128GB Black </a>
                                       
                                   </h6>
                               </div>
                                <h3 class="mb-0 font-weight-semibold">$2649.99</h3>
                               
                           </div>
                       </div>
                   </div>
                </div>
    
    
             </div>

             <div class="container-fluid" >
                <div class="row">
                   <div class="col-md-2 mt-3">
                       <div class="card mt-2 main-body">
                           <div class="card-body">
                               <div class="card-img-actions">
                                   <img src="https://assets.ee.ge/product_images/yzQDOuOnhv-1.jpg" class="card-image img-fluid" alt="">
                               </div>
                           </div> 
                           <div class="card-body bg-light text-center main-body">
                            <div>
                                <h6>
                                    <a class="text-default" href="">Apple iPhone 15 128GB Black </a>
                                    
                                </h6>
                            </div>
                             <h3 class="mb-0 font-weight-semibold">$2649.99</h3>
                            
                        </div>
    
                          
                       </div>
                   </div>
                </div>
    
    
             </div>
    
             
             <div class="container-fluid" >
                <div class="row">
                   <div class="col-md-2 mt-3">
                       <div class="card mt-2 main-body">
                           <div class="card-body">
                               <div class="card-img-actions">
                                   <img src="https://assets.ee.ge/elit-product-images/IMG-000057609-1.jpg" class="card-image img-fluid" alt="">
                               </div>
                           </div> 
    
    
    
                           <div class="card-body bg-light text-center main-body">
                               <div>
                                   <h6>
                                       <a class="text-default" href=""> Apple iPhone 15 Pro Max 256GB Natural Titanium</a>
                                   </h6>
                               </div>
                                <h3 class="mb-0 font-weight-semibold">$4249.99</h3>
                              
                       </div>
                   </div>
                </div>
    
    
             </div>
    
             
                       
                   
                </div>
    
    
             
    

    
         </section>
        

     </section>


     
    
    </main>
    <app-footer></app-footer>

    
