form.sign{
 background-color:#1a6567;
}

body{
    padding-top: 100px;
    background-color:#012426 ;
    height: 100vh;
}

input{
    width: 500px;
    margin-left:100px;
    border-radius: 50px;
}

label{
    margin-left: 100px;
}

h1{
  text-align: center;  
}


@media screen and (max-width:2560px){
    div.formvalidate{
        margin-left: 290px;
    }
    form.sign{
        height: 500px;
    }
    body{
        height: 800px;
    }
    div.registration{
        margin-left: 400px;
    }

}

@media screen and (max-width:1440px) {
    div.formvalidate{
        margin-left: 50px;
    }
    input{
        width: 400px;
    }
    div.registration{
        margin-left: 150px;
    }
}

@media  screen and (max-width:1024px) {
    div.formvalidate{
        margin-left: 50px;
    }
    input{
        width: 200px;
    }
}



