main header{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #05BCCA;
    position: relative;
    background-color:#012426;
    
    
}
div.menuicon{
    display: none;
}

main header div.desktopmenu ul  {
    display: flex;
    justify-content: space-around;

    gap: 50px ;
  justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
}
main header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #A1C3C9;
}
main header ul li a:hover{
    color: #147a81;
}
main header   ul li {
    list-style: none;
    
    
    
}


 header  div.registericon {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  margin-left: 800px;
  margin-top: 10px;
  padding-bottom: 5px;
  

}
header div.registericon button{
    border-radius: 100px;
    background-color: #05BCCA;
    background-color: #012426;
    border-color: #05BCCA;
    padding: 0px 10px 0px 10px ;
    
}
header div.registericon button i{
   color: #05BCCA;
}


@media screen and (max-width:1503px) {
 main header div.registericon{
    margin-left: 200px;
 }

}


   


@media screen and (max-width:1440px) {
    header div.registericon{
        margin-left: 500px;
    } 
}

@media screen and (max-width:1024px) {
    main header ul{
        padding-right: 150px;
        gap: 30px;
    }
   

    header div.registericon{
      margin-left: 250px;
    }
    

}

@media screen and (max-width:768px) {
   
    main header div.desktopmenu  ul {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        margin-left:26px ;
        transition:0.4s ease-in-out;
        
        
    }

    div.desktopmenu{
        position: fixed;
        right: -280px;
        top: 75px;
        background:#05BCCA;
        width: 280px;
        height: 700px;
        z-index: 1;

    }
    main header div.desktopmenu  ul li{
         display: block;
         text-align: left;
         margin: 0;
         padding: 10px 0px 10px 26px;
         border-bottom: 1px solid #012426;
    }
    main header div.menuicon{
        display:block;
        color: #05BCCA;
        font-size: 40px;
        padding: 10px;
    }
    main header .mobile_menu{
        right: 0;
        transition: 0.4s ease-in-out;
    }
    header div.registericon{
        margin-left: 400px;
    }
}

@media screen and (max-width:426px){
    main header div.registericon{
        margin-left: 150px;
    }
}


