
<main>
    <header>
         <div class="menuicon" (click)="openmenu()">
            <i class="{{menu_icon}}"></i>
         </div>
         <div class="desktopmenu" [class.mobile_menu]="menuValue" >
            <ul >
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/Catalog" >Products</a>
                </li>
                <li>
                    <a routerLink="/contact">Contact </a>
                </li>
            </ul>
         </div>

               
             
            <div class="registericon">
               
                <button routerLink="/signup">
                    <i class="fa-solid fa-user"></i>
                </button>
                
                <button routerLink="cart-page">
                    <i  class="fa-solid fa-cart-shopping" style="color:aqua;font-size: 20px; margin-top: 20px;">&nbsp;{{cartitems}}</i>
                </button>
             </div>
         
    </header>
</main>
 


 




<router-outlet></router-outlet>



