<main>
    <header>
         
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/Catalog" >Products</a>
                </li>
                <li>
                    <a routerLink="/contact us">Contact us</a>
                </li>
            </ul>
             
            <div class="registericon">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button>
                    <i class="fa-solid fa-user"></i>
                </button>
                <button>
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
             </div>
         
    </header>
</main>
 

 




<router-outlet></router-outlet>
