  <body>
    <h1>Contact us</h1>
     

    <section>
        <div class="location">
            <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
                
            </div>
            <div class="phone">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="email">
                <i class="fa-regular fa-envelope"></i>
            </div>
        </div>

        <div class="title">
            <h3>ADDRESS</h3>
            <h3>PHONE</h3>
            <h3>EMAIL</h3>

        </div>
       
    </section>

    <section class="information">
        <div class="info1">
            <h3>Weifield Group Contracting</h3>
            <p>146 Yuma Street</p>
            <p>Derrver Co 80223</p>

            <h3>Northern Division Office</h3>
              <p>1270 Automation Drive</p>
              <p>Windsor, CO 80550</p>
        </div>
        <div class="info2">
            <h3>Weifield Group Contracting</h3>
            <P>303.428.2011 PHONE</P>
            
            
            <h3>Weifield 24/7 Service Department</h3>
            <p>303.428.2011</p>
            <p>(Then press 2 for emergency calls)</p>

            <h3>Northern division Office</h3>
            <p>303.428.2011 phone</p>
            <p>303.202.0466 Facsimile</p>

            

        </div>
        <div class="info3">
            <h3>Request for Proposal</h3>
            <p>{{email}}</p>

            
        </div>
    </section>


  </body>

