
i{
    color: green;
    font-size: 150px;
    margin:20px 0px 0px 130px;

}

div.succses{
    border:1px solid black;
    width: 400px;
    height: 350px;
    margin: 100px 0px 0px 550px;
    border-radius: 50px;

}

h1{
    font-size: 30px;
    text-align: center;

}
h4{
    font-size: 20px;
    text-align: center;

}
